RewriteEngine On


RewriteRule ^(uploads/.*)$ public/$1 [L]
RewriteRule ^(assets/.*)$ public/$1 [L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]